@import './common';

.gallery {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
max-width: auto;
}
.photo-card { width: 400px;
}

.photo-card img { width: 400px;
height: 300px;
object-fit: cover;
display: block;
object-position: top;
padding: 15px;
}

.photo-card:hover {
transform: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: none;
color: black;
text-align: center;
}
a:link {
text-decoration: none;
}
.header {
position: fixed;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
background-color: #b4b4b4;
height: 70px;
box-shadow: 2px 2px 4px 1px rgb(66, 68, 90);
z-index: 1;
}